@charset "UTF-8";
/* 
RWD 中的基本設定方式
- 請把握三層 container > flex > item    
    - container：主要限制最外圍空間使用 [Key 1]
        - 限制最大寬
        - 左右保留 padding
    - flex                      [Key 2]
        - 製作 flex 的層級
        - 請下 flex-wrap
    - item                      [Key 3]
        - 寬度、margin 設定的地方
        - 內容會在更內層 
*/
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  /* font-size: 16px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: bold;
}

.workspace {
  margin: 0;
}

.navigator {
  height: 108px;
  background-color: #aa0601;
}

.navigator-container {
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-hamberger {
  width: 24px;
  background-image: url(IMAGES/ic_menu_24px@2x.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.icon-navi {
  width: 80px;
  background-image: url(IMAGES/logo-new_工作區域-1-1.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.navi-mr {
  margin-right: 88px;
}

.navi-ml {
  margin-left: 88px;
}

.navi-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navi-menu li {
  color: #ffffff;
  font-size: 20px;
}

.navi-menu-gapR {
  margin-right: 32px;
}

.navi-menu-gapL {
  margin-left: 32px;
}

@media (max-width: 768px) {
  .navi-mr {
    margin-right: 48px;
  }
  .navi-ml {
    margin-left: 48px;
  }
  .navi-menu-gapR {
    margin-right: 20px;
  }
  .navi-menu-gapL {
    margin-left: 20px;
  }
}

@media (max-width: 375px) {
  .navi-menu {
    display: none;
  }
  .icon-hamberger {
    display: block;
    margin-left: 16px;
  }
  .icon-navi {
    margin: 0 auto;
  }
}

/* header */
.header {
  height: 840px;
  background-image: url(IMAGES/68.png);
  background-position: center center;
  background-size: cover;
}

.header-container {
  margin: 0 auto;
  text-align: center;
}

.header-block {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  text-align: right;
}

.header-title h1 {
  font-size: 36px;
}

.header-title h2 {
  font-size: 64px;
}

.header-title-color {
  color: #650300;
}

@media (max-width: 768px) {
  .header {
    max-height: 840px;
  }
  .header-container {
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-block {
    max-width: 672px;
  }
  .header-title h1 {
    font-size: 20px;
  }
  .header-title h2 {
    font-size: 48px;
  }
}

@media (max-width: 375px) {
  .header {
    max-height: 394px;
  }
  .header-container {
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-block {
    max-width: 352px;
  }
  .header-title h1 {
    font-size: 16px;
  }
  .header-title h2 {
    font-size: 32px;
  }
}

/* service */
.service {
  background-color: gray;
}

.service-contaner {
  margin: 0;
}

.service-contaner h2 {
  font-size: 48px;
  color: #650300;
  text-align: center;
  padding-top: 64px;
  margin-bottom: 64px;
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 80px;
}

.item {
  width: 282px;
  /*78*3+24*2*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item h3 {
  font-size: 24px;
  color: #650300;
  font-weight: 900;
  margin-bottom: 4px;
}

.item p {
  font-size: 16px;
  max-width: 208px;
  text-align: left;
  color: #000000;
}

.item-gap {
  margin-right: 12px;
  margin-left: 12px;
}

.item-img {
  height: 100px;
  width: 100px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.item-dollor {
  background-image: url(IMAGES/iconfinder_circle-dollar_430089.svg);
}

.item-clock {
  background-image: url(IMAGES/iconfinder_clock-1_430090.svg);
}

.item-heart {
  background-image: url(IMAGES/iconfinder_heart_430099.svg);
}

.item-glasses {
  background-image: url(IMAGES/iconfinder_glasses_430098.svg);
}

@media (max-width: 768px) {
  .service-contaner {
    max-height: 900px;
  }
  .service-contaner h2 {
    font-size: 32px;
    padding-top: 40px;
    margin-bottom: 32px;
  }
  .item {
    width: 336px;
    /*78*4+24*1*/
  }
  .item-gap {
    margin-right: 24px;
    margin-bottom: 28px;
  }
  ul li:first-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  ul li:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  ul li:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  ul li:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (max-width: 375px) {
  .service-contaner {
    max-height: 1091px;
  }
  .service-contaner h2 {
    font-size: 24px;
    padding-top: 32px;
    margin-bottom: 32px;
  }
  .item {
    width: 384px;
    /*78*4+24*3*/
  }
  .item-gap {
    margin-right: 14px;
  }
}

/* frames 經典系列鏡框 */
.frames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.frames-title {
  width: 100%;
}

.frames-title h3 {
  font-size: 48px;
  text-align: center;
  color: #650300;
  padding-top: 60px;
  padding-bottom: 60px;
}

.frame {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
}

.frame_fdc {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.modle {
  max-width: 792px;
  /*78*8+24*7*/
  margin-right: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modelStep {
  margin-left: 32px;
}

.modleShowGray {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.modleShowGray:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.productGapL {
  margin-left: 24px;
}

.productGapR {
  margin-right: 24px;
}

.productTxt {
  padding-left: 8px;
  color: #aa0601;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 900;
}

.productHide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 352px;
  height: 134px;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  display: none;
}

.productHide p {
  color: #ffffff;
  font-size: 28px;
}

.img-optical {
  background-image: url("IMAGES/8.png");
}

.img-sunglasses {
  background-image: url("IMAGES/15.png");
}

.img-functional {
  background-image: url("IMAGES/28.png");
}

.ColorChange {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(229deg) brightness(102%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(229deg) brightness(102%) contrast(101%);
}

@media (max-width: 768px) {
  .frames-title h3 {
    font-size: 32px;
    padding-top: 40px;
    padding-bottom: 32px;
  }
  .frame {
    margin-bottom: 8px;
  }
  .frame_fdc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .modle {
    max-width: 53.5%;
    /*63*5+24*4*/
  }
  .product {
    max-width: 30%;
    /*63*3+24*2*/
  }
  .productTxt {
    font-size: 28px;
  }
}

@media (max-width: 375px) {
  .frame {
    height: 134px;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .productHide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product {
    display: none;
  }
  .modle {
    height: 134px;
    max-width: 375px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .modleShow {
    display: none;
  }
  .productTxt {
    font-size: 28px;
  }
}

.contact {
  background-color: #aa06010d;
}

.contact-title {
  margin: 0 auto;
  max-width: 792px;
  text-align: left;
  padding-bottom: 92px;
}

.contact-title p {
  font-size: 20px;
  color: 000000;
  padding-top: 24px;
  margin-bottom: 20px;
}

.info {
  font-size: 48px;
  padding-top: 64px;
  text-align: center;
}

input[type='text'],
textarea {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 14px 16px;
  border: 1px solid #000;
  background-color: transparent;
}

textarea {
  resize: none;
  height: 136px;
}

.submit {
  margin-top: 42px;
  text-align: center;
}

input[type='submit'] {
  padding: 16px 58px;
  cursor: pointer;
  border: none;
  background: #aa0601;
  color: #fff;
}

input[type='checkbox'] + label {
  display: block;
  cursor: pointer;
  padding-left: 4px;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label::before {
  content: '\2714';
  border: 1px solid #000;
  border-radius: 10%;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 1px 0 1px 3px;
  margin-right: 8px;
  color: transparent;
}

input[type='checkbox']:checked + label:before {
  background-color: #aa0601;
  border-color: #aa0601;
  color: #fff;
}

@media (max-width: 768px) {
  .contact-title {
    max-width: 496px;
    padding-bottom: 56px;
  }
  .contact-title p {
    font-size: 16px;
    padding-top: 16px;
    margin-bottom: 16px;
  }
  .info {
    font-size: 32px;
    padding-top: 40px;
  }
  .submit {
    margin-top: 24px;
  }
}

@media (max-width: 375px) {
  .contact-title {
    max-width: 327px;
    padding-bottom: 55px;
  }
  .contact-title p {
    font-size: 16px;
    padding-top: 8px;
    margin-bottom: 8px;
  }
  .info {
    font-size: 20px;
    padding-top: 24px;
  }
  .submit {
    margin-top: 20px;
  }
}

.footer {
  background-color: #aa0601;
}

.footer-contaner {
  margin: 0 auto;
  width: 1200px;
}

.footUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
}

.upRside {
  width: 42%;
}

.footMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footMenuLi {
  font-size: 16px;
  margin: 0 24px 0 24px;
  color: #ffffff;
  margin: 0 auto;
}

.footMenuWithTop {
  margin-top: 48px;
}

.MtWithLi {
  margin-top: 32px;
}

.MtPhoneVSmail {
  margin-top: 16px;
}

.phoneVSmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phoneVSmail p {
  font-size: 36px;
  color: #ffffff;
}

.phoneVSmail .mlext {
  margin-left: 23px;
}

.phoneVSmail .mlstd {
  margin-left: 12px;
}

.spliyrline {
  border: 1px solid #ffffff;
  text-align: center;
  width: 1150px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.footSocIcon {
  width: 58%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  margin-top: 36px;
}

.footSocIconImg {
  margin: 0 16px 0 16px;
}

.footDn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footCopyRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showLogo {
  display: block;
}

.footCopyRight,
.footLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-bottom: 28px;
}

.footCopyRight img,
.footLogo img {
  margin-right: 38px;
}

.footLogo {
  max-width: 280px;
}

.pLSpilt {
  margin-left: 62px;
  margin-right: 18px;
}

.rs375 {
  display: none;
}

.rsUP375 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .footer-contaner {
    margin: 0 auto;
    width: 768px;
  }
  .footUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 672px;
    margin-right: 63px;
    margin-left: 63px;
  }
  .upRside {
    width: 53.5%;
  }
  .footMenuWithTop {
    margin-top: 40px;
  }
  .MtWithLi {
    margin-top: 24px;
  }
  .MtPhoneVSmail {
    margin-top: 11px;
  }
  .footMenuLi {
    font-size: 16px;
    margin: 0 24px 0 24px;
    margin: 0 auto;
  }
  .showLogo {
    display: none;
  }
}

@media (max-width: 375px) {
  .footer-contaner {
    margin: 0 auto;
    width: 375px;
    margin-right: 11px;
    margin-left: 11px;
  }
  .footUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 375px;
    margin: 0;
  }
  .MtPhoneVSmail {
    margin-top: 8px;
  }
  .upRside {
    width: 80%;
    margin: 0;
  }
  .phoneVSmail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .phoneVSmail p {
    font-size: 16px;
  }
  .footSocIcon {
    margin: 0;
    margin-top: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footSocIconImg {
    width: 24px;
    height: 24px;
    margin: 0 12px 0 12px;
  }
  .footMenu {
    display: none;
  }
  .mlext {
    margin-left: 14px;
  }
  .upRside {
    width: 282px;
  }
  .footCopyRight {
    margin: 0;
    margin-bottom: 24px;
  }
  .footCopyRight p {
    margin-bottom: 8px;
  }
  .footLogo {
    width: 46px;
    height: 100%;
    margin: 0 auto;
  }
  .footLogoSet {
    margin-top: 46px;
    margin-right: 12px;
  }
  .rs375 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .rsUP375 {
    display: none;
  }
}

/* utilities */
.h-100 {
  height: 100%;
}

.mt20 {
  margin-top: 20px;
}

.ml80 {
  margin-left: 80px;
}

.mb60 {
  margin-bottom: 60px;
}

.pl64 {
  padding-top: 64px;
}

.mr80 {
  margin-right: 80px;
}

.ml63 {
  padding-left: 63px;
}
/*# sourceMappingURL=index.css.map */