/* 
http://meyerweb.com/eric/tools/css/reset/   
v2.0 | 20110126    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 
    1.HTML5 display-role reset for older browsers 
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  user define  general setting  start */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
/* 全域 border box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  user define  general setting end */

/* 主體 CSS */
.container {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-size: 16px;
  line-height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* header */

.headerMenu {
  display: flex;
  justify-content: space-between;
  background: #aa0601 0% 0% no-repeat padding-box;
  height: 108px;
}

.headerMenu .ham-icon {
  display: flex;
  justify-content: start;
  align-items: center;
}

.headerMenu .ham-icon a > img {
  display: none;
}

.headerMenu .ham-icon img {
  margin-left: 88px;
  object-fit: none;
}

.headerMenu-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.headerMenu-list li {
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-right: 64px;
}

.headerMenu-list li:last-child {
  margin-right: 88px;
}

@media (max-width: 768px) {
  .headerMenu img {
    margin-left: 48px;
  }
  .headerMenu-list li:last-child {
    margin-right: 40px;
  }
}

@media (max-width: 375px) {
  .headerMenu {
    height: 50px;
  }

  .headerMenu .ham-icon a > img {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 16px;
  }

  .headerMenu .ham-icon img {
    margin-left: 134px;
  }

  .headerMenu-list {
    display: none;
  }
}

.headerMain {
  background-image: url(/IMAGES/68.png);
  background-position: Center, center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 840px;
  color: #650300;
  font-family: serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.headerMain h3 {
  font-size: 36px;
  line-height: 54px;
  text-align: right;
  margin-right: 360px;
  padding-top: 350px;
}

.headerMain h1 {
  font-size: 64px;
  line-height: 96px;
  text-align: right;
  margin-right: 360px;
}

@media (max-width: 768px) {
  .headerMain h3 {
    font-size: 20px;
    line-height: 30px;
    margin-right: 48px;
  }
  .headerMain h1 {
    font-size: 48px;
    line-height: 72px;
    margin-right: 48px;
  }
}

@media (max-width: 375px) {
  .headerMain {
    height: 394px;
  }

  .headerMain h3 {
    font-size: 16px;
    line-height: 30px;
    margin-right: 12px;
    padding-top: 163px;
  }
  .headerMain h1 {
    font-size: 32px;
    line-height: 72px;
    margin-right: 12px;
  }
}

/* features */
.features {
  background-color: #aa06010d;
}

.features h2 {
  padding-top: 64px;
  text-align: center;
  font-size: 48px;
  line-height: 67px;
  color: #650300;
  padding-bottom: 60px;
}

.featureCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin-right: 12px;
  margin-left: 12px;
  text-align: center;
  margin-bottom: 80px;
}

/* .card:last-child {
  margin-right: 0px;
} */

/* .card img {
  object-fit: cover;  ?
} */

.card .cardImg {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  /* border: palegreen solid 1px; */
  text-align: center;
  margin-bottom: 40px;
}

.card h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  color: #650300;
  margin-bottom: 4px;
}

.card p {
  text-align: left;
  font-weight: bold;
  width: 208px;
  font-size: 16px;
  line-height: 24px;
  margin-right: 37px;
  margin-left: 37px;
}

@media (max-width: 768px) {
  .features h2 {
    padding-top: 32px;
    font-size: 32px;
    line-height: 48px;
    padding-bottom: 12px;
  }

  .card {
    margin-right: 48px;
    text-align: center;
    margin-bottom: 12px;
  }

  .card img {
    max-width: 100%;
    height: auto;
    padding-top: 20px;
    margin-bottom: 16px;
  }
}

/* frames */
.frames {
  /* border: 1px solid red; */
  background: #ffffff;
}

.frames h3 {
  margin-top: 64px;
  text-align: center;
  color: #650300;
  font-size: 48px;
  line-height: 72px;
  height: 67px;
  margin-bottom: 60px;
}

.frame {
  border: 4px solid yellow;
  display: flex;
  margin-bottom: 32px;
}

.frameReverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.mTypeNormal {
  margin-left: 360px;
}

.mTypeReverse {
  margin-left: 390px;
}

.frame:last-child {
  margin-bottom: 80px;
}

.modle {
  border:4px solid red;
  width: 792px;
  height: 320px;
}

.colorfully {
  position: relative;
  width: 792px;
  height: 320px;
}

.colorfully::before {
  content: '';
  position: absolute;
  background: url('/IMAGES/15.png');
  background-size: contain;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.colorfully:hover::before {
  opacity: 1;
}

.modleTxtGap {
  margin-right: 24px;
}

.product {
  border: 3px solid plum;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productIcon {
  width: 48px;
  height: 37px;
  margin-right: 8px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.diamond {
  background-image: url(/IMAGES/iconfinder_44_2529968.svg);
}
.sun {
  background-image: url(/IMAGES/Layer_1.svg);
}

.flash {
  background-image: url(/IMAGES/Page-1.svg);
}

.productTxt {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  font-style: italic;
  color: #aa0601;
}

@media (max-width: 768px) {
  .frames h3 {
    margin-top: 40px;
    font-size: 32px;
    line-height: 48px;
    height: 45px;
    margin-bottom: 32px;
  }

  .frameReverse {
    flex-direction: row;
    margin-left: 48px;
  }

  .mTypeNormal {
    margin-left: 48px;
  }

  .mTypeReverse {
    margin: 0 auto;
  }

  .frame:last-child {
    margin-bottom: 40px;
  }

  .modle {
    /* width: 410.85px;
    height: 168px; */
    width: 50%;
    height: 50px;
  }

  .colorfully {
    position: relative;
    width: 410.85px;
    height: 168px;
  }

  /* .modleTxtGap {
  
  } */

  .product {
    margin: 0 auto;
  }

  .productTxt {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 28px;
    line-height: 42px;
    font-style: italic;
    color: #aa0601;
  }
}

@media (max-width: 375px) {
  .frame{
    margin: 0 auto;
  }
  
  

  .frames h3 {
    margin-top: 24px;
    font-size: 24px;
    line-height: 48px;
    height: 33px;
    margin-bottom: 16px;
  }

  /* ** */
  /* .frameReverse {
    flex-direction: row;
    margin-left: 48px;
  } */

  /* .mTypeNormal {
    margin-left: 48px;
  } */

  /* .mTypeReverse {
    margin: 0 auto;
  } */

  .frame{
    display: flex;
    margin-bottom: 8px;
  }

  .frame:last-child {
    margin-bottom: 40px;
  }

  .modle {
    width: 352px;
    height: 134px;
 }

  .colorfully {
    position: relative;
    width: 352px;
    height: 134px;
  }

  /* .modleTxtGap {
    
    } */

    .product {
      margin: 0 auto;
    }
  

  .productTxt {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 28px;
    line-height: 42px;
    font-style: italic;
    color: #aa0601;
    /* color: #FFFFFF; */
    margin-left: 3%;
    margin-right: 3%;
  }
}

.KEEPGO {
  height: 360px;
}

.KEEPGO h1 {
  font-size: 20px;
}
