@charset "UTF-8";
/* 
RWD 中的基本設定方式
- 請把握三層 container > flex > item    
    - container：主要限制最外圍空間使用 [Key 1]
        - 限制最大寬
        - 左右保留 padding
    - flex                      [Key 2]
        - 製作 flex 的層級
        - 請下 flex-wrap
    - item                      [Key 3]
        - 寬度、margin 設定的地方
        - 內容會在更內層 
*/
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  /* font-size: 16px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: bold;
}

.workspace {
  margin: 0;
}

.navigator {
  height: 108px;
  background-color: #aa0601;
}

.navigator-container {
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-hamberger {
  width: 24px;
  background-image: url(/IMAGES/ic_menu_24px@2x.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.icon-navi {
  width: 80px;
  background-image: url(/IMAGES/logo-new_工作區域-1-1.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.navi-mr {
  margin-right: 88px;
}

.navi-ml {
  margin-left: 88px;
}

.navi-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navi-menu li {
  color: #ffffff;
  font-size: 20px;
}

.navi-menu-gapR {
  margin-right: 32px;
}

.navi-menu-gapL {
  margin-left: 32px;
}

@media (max-width: 768px) {
  .navi-mr {
    margin-right: 48px;
  }
  .navi-ml {
    margin-left: 48px;
  }
  .navi-menu-gapR {
    margin-right: 20px;
  }
  .navi-menu-gapL {
    margin-left: 20px;
  }
}

@media (max-width: 375px) {
  .navi-menu {
    display: none;
  }
  .icon-hamberger {
    display: block;
    margin-left: 16px;
  }
  .icon-navi {
    margin: 0 auto;
  }
}

/* header */
.header {
  height: 840px;
  background-image: url(/IMAGES/68.png);
  background-position: center center;
  background-size: cover;
}

.header-container {
  border: 1px red solid;
  margin: 0 auto;
  text-align: center;
}

.header-block {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px orange double;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  text-align: right;
}

.header-title h1 {
  font-size: 36px;
}

.header-title h2 {
  font-size: 64px;
}

.header-title-color {
  color: #650300;
}

@media (max-width: 768px) {
  .header {
    max-height: 840px;
  }
  .header-container {
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-block {
    max-width: 672px;
  }
  .header-title h1 {
    font-size: 20px;
  }
  .header-title h2 {
    font-size: 48px;
  }
}

@media (max-width: 375px) {
  .header {
    max-height: 394px;
  }
  .header-container {
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-block {
    max-width: 352px;
  }
  .header-title h1 {
    font-size: 16px;
  }
  .header-title h2 {
    font-size: 32px;
  }
}

/* utilities */
.h-100 {
  height: 100%;
}

.mt20 {
  margin-top: 20px;
}

.ml80 {
  margin-left: 80px;
}

.mb60 {
  margin-bottom: 60px;
}

.pl64 {
  padding-top: 64px;
}

.mr80 {
  margin-right: 80px;
}
/*# sourceMappingURL=s02.css.map */