/* 
RWD 中的基本設定方式
- 請把握三層 container > flex > item    
    - container：主要限制最外圍空間使用 [Key 1]
        - 限制最大寬
        - 左右保留 padding
    - flex                      [Key 2]
        - 製作 flex 的層級
        - 請下 flex-wrap
    - item                      [Key 3]
        - 寬度、margin 設定的地方
        - 內容會在更內層 
*/

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  /* font-size: 16px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: bold;
}
.workspace {
  //   border: 1px dotted yellowgreen;
  margin: 0;
}

.navigator {
  height: 108px;
  background-color: #aa0601;

  .navigator-container {
    height: 108px;
    display: flex;
    justify-content: space-between;
  }

  .icon-hamberger {
    width: 24px;
    background-image: url(/IMAGES/ic_menu_24px@2x.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
  }

  .icon-navi {
    width: 80px;
    background-image: url(/IMAGES/logo-new_工作區域-1-1.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .navi-mr {
    margin-right: 80px;
  }

  .navi-ml {
    margin-left: 80px;
  }

  .navi-menu {
    display: flex;
    align-items: center;
    li {
      color: #ffffff;
      font-size: 20px;
    }
  }

  @media (max-width: 768px) {
    margin: 0;
    // width: 50%;
  }

  @media (max-width: 375px) {
    margin: 0;
    .navi-menu{
        display: none;
    }
    .icon-hamberger{
      display: block;
      margin-left: 16px;
    }
    .icon-navi{
      margin: 0 auto;
    }
  }
}

/* utilities */
.h-100 {
  height: 100%;
}

.mt20 {
  margin-top: 20px;
}

.ml80 {
  margin-left: 80px;
}

.mb60 {
  margin-bottom: 60px;
}

.pl64 {
  padding-top: 64px;
}

.mr80 {
  margin-right: 80px;
}
.mrl20 {
  margin: 0 20px 0 20px;
}
